*{
  background: #ffffff;
  font-family: sans-serif,Arial, Helvetica;
  font-size:medium;
  font-weight: 400;
  color: black;
}


/* header */

h2{
  padding-bottom: 0.3rem;
  font-weight: 500 !important;
}

.header {
  border: 2px solid rgb(245, 242, 242);
  padding: 1.6rem 0.5rem 1.6rem 1.8rem;
  display: flex;
  justify-content: space-between; /* Aligns items at the start and end */
  align-items: center; /* Centers items vertically */
}

.title {
  margin-top: 0.08rem;
  padding-left: 1.2rem;
}

.logo {
  display: flex;
  margin-left: 1.45rem;
  align-items: center; /* Aligns logo and text vertically */
}

.headend {
  margin-right: 6.5rem;
  display: flex;
  align-items: center; /* Aligns items horizontally */
  gap: 1.6rem; /* Adds some space between the items */

}

.tgray{
  color:#9eabb7!important ;
}

.optns{
  display: flex;
  width:fit-content;
  margin-left: -1rem;
}

/* ------------- */

/* Hero */
.hero {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  height: 100vh;
}

.sidebar {
  /* background-color: aqua; */
  border-right: 2px solid #e5e8eb;
  grid-column: span 1 / span 14;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.8rem;
}

.sidebar svg{
  margin-bottom: 1.4rem;
}

.data {
  grid-column: span 4 / span 14;
  border-right: 2px solid #e5e8eb;
}

.datain{
  padding: 2rem;
}

.dataup .tgray,.font2{
  font-size: 0.8rem;
}

.data .inp{
  padding-top: 2rem;
}

.working {
  grid-column: span 8 / span 14;
  padding: 2rem;
}

/* Elements */
.btn{
  padding: 1.2rem;
}

.bgimage{
  padding-top: 1.5rem;
  padding-left: 2rem;
  width:100%;
  height: 100%;
  object-fit:fill;
}

.imgCont{
  height: 650px;
  width: 1250px;
}

.imgcard{
  margin-top: -14rem;
  display: flex;
}

.uploadedimg{
  height: 4rem;
  padding-left: 0.55rem;
}